# .sudo.config

TERMUX_FILES="/data/data/com.termux/files"
TERMUX_HOME="$TERMUX_FILES/home"
TERMUX_PREFIX="$TERMUX_FILES/usr"

# Set SUDO_SHELL_HOME which will be used as sudo shell home directory
#SUDO_SHELL_HOME="$TERMUX_HOME/.suroot" # Default: `$TERMUX_HOME/.suroot`
#SUDO_SHELL_HOME="$TERMUX_HOME" # Use '$TERMUX_HOME' as sudo shell home

# Set SUDO_POST_SHELL_HOME which will be used as sudo post shell home directory
#SUDO_POST_SHELL_HOME="$TERMUX_HOME/.suroot" # Default: `$TERMUX_HOME/.suroot`
#SUDO_POST_SHELL_HOME="$TERMUX_HOME" # Use '$TERMUX_HOME' as sudo post shell home

# Set the prompt string 1 for the sudo shell
#SUDO_SHELL_PS1="# " # Default: `# `

# Set the prompt string 1 for the sudo post shell
#SUDO_POST_SHELL_PS1="# " # Default: `# `

# Set any additional paths you want to export other than termux bin, android bin and su bin paths,
# separated with colons `:`
# The string must not start or end with or contain two consecutive colons ':'
# The `--export-paths` option will override this value
#SUDO_ADDITIONAL_PATHS_TO_EXPORT="" # Default: ``

# Set to "1" or pass "-L" as argument if you want to automatically export all the paths that already exist
# in the PATH variable at the moment the sudo command is run
# The default paths mentioned above and any path in SUDO_ADDITIONAL_PATHS_TO_EXPORT are always exported
#SUDO_EXPORT_ALL_EXISTING_PATHS_IN_PATH_VARIABLE=0 # Default: `0`

# Set any additional ld library paths you want to export other than termux lib and android lib paths,
# separated with colons `:`
# The string must not start or end with or contain two consecutive colons ':'
# The `--export-ld-lib-paths` option will override this value
#SUDO_ADDITIONAL_LD_LIBRARY_PATHS_TO_EXPORT="" # Default: ``

# Set to "1" or pass "-P" as argument if you want to automatically export all the paths that already exist
# in the LD_LIBRARY_PATH variable at the moment the sudo command is run
# The default paths mentioned above and any path in SUDO_ADDITIONAL_LD_LIBRARY_PATHS_TO_EXPORT are always exported
#SUDO_EXPORT_ALL_EXISTING_PATHS_IN_LD_LIBRARY_PATH_VARIABLE=0 # Default: `0`

# Set to 1 if you want to automatically create rc files for interactive shells, otherwise 0
#SUDO_SHELLS_AUTOMATICALLY_CREATE_RC_FILES=1 # Default: `1`

# Set to 1 if you want to automatically create history files for interactive shells, otherwise 0
#SUDO_SHELLS_AUTOMATICALLY_CREATE_HISTORY_FILES=1 # Default: `1`

# Set to 1 if you want to store command history for interactive shells, otherwise 0
#SUDO_SHELLS_HISTORY_ENABLED=1 # Default: `1`
