#.sudo.config

TERMUX_FILES="/data/data/com.termux/files"
TERMUX_HOME="$TERMUX_FILES/home"
TERMUX_PREFIX="$TERMUX_FILES/usr"

#set SUDO_SHELL_HOME which will be used as sudo shell home directory
#SUDO_SHELL_HOME="$TERMUX_HOME/.suroot" #default to '$TERMUX_HOME/.suroot'
#SUDO_SHELL_HOME="$TERMUX_HOME" #use '$TERMUX_HOME' as sudo shell home

#set SUDO_POST_SHELL_HOME which will be used as sudo post shell home directory
#SUDO_POST_SHELL_HOME="$TERMUX_HOME/.suroot" #default to '$TERMUX_HOME/.suroot'
#SUDO_POST_SHELL_HOME="$TERMUX_HOME" #use '$TERMUX_HOME' as sudo post shell home

#set the prompt string 1 for the sudo shell
#SUDO_SHELL_PS1="# " #default to "# "

#set the prompt string 1 for the sudo post shell
#SUDO_POST_SHELL_PS1="# " #default to "# "

#set any additional paths you want to export other than termux bin, android bin and su bin paths,
#separated with colons `:`
#the string must not start or end with or contain two consecutive colons ':'
#the `--export-paths` option will override this value
#ADDITIONAL_PATHS_TO_EXPORT=""

#set to "1" or pass "-L" as argument if you want to automatically export all the paths that already exist
#in the PATH variable at the moment the sudo command is run
#the default paths mentioned above and any path in ADDITIONAL_PATHS_TO_EXPORT are always exported
#export_all_existing_paths_in_path_variable=0 #default to 0

#set any additional ld library paths you want to export other than termux lib and android lib paths,
#separated with colons `:`
#the string must not start or end with or contain two consecutive colons ':'
#the `--export-ld-lib-paths` option will override this value
#ADDITIONAL_LD_LIBRARY_PATHS_TO_EXPORT=""

#set to "1" or pass "-P" as argument if you want to automatically export all the paths that already exist
#in the LD_LIBRARY_PATH variable at the moment the sudo command is run
#the default paths mentioned above and any path in ADDITIONAL_LD_LIBRARY_PATHS_TO_EXPORT are always exported
#export_all_existing_paths_in_ld_library_path_variable=0 #default to 0

#set to 1 if you want to automatically create rc files for interactive shells, otherwise 0
#sudo_shells_automatically_create_rc_files=1 #default to 1

#set to 1 if you want to automatically create history files for interactive shells, otherwise 0
#sudo_shells_automatically_create_history_files=1 #default to 1

#set to 1 if you want to store command history for interactive shells, otherwise 0
#sudo_shells_history_enabled=1 #default to 1
